.FooterConatiner{
    width: 100vw;
    height:6vh;
    background-color: #9f8aee;
    text-align: center;
    position: absolute;
    bottom: 0%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}